<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="R1" value="iJ90B7#G"/>
    <add key="R2" value="aBdM-4Zp"/>
    <add key="R3" value=",0-Im6O-"/>
    <add key="R4" value="O$CeGl2+"/>
    <add key="R5" value="fT5F*sGB"/>
    <add key="R6" value="hYu8uJi9"/>
    <add key="EsquemaPadrao" value="opcao_mpc"/>
    <add key="UsuarioPadrao" value=""/>
  </appSettings>
  <connectionStrings>
    <!--
    <add
      name="OpcaoMPC"
      providerName="Npsgql"
      connectionString="Server=localhost;Port=5432;Database=OpcaoMPC;UserId=postgres;Password=CKIRA93cdoc;" />
      -->
    <add
      name="OpcaoMPC"
      providerName="Npsgql"
      connectionString="+9PpAp5do8JqDnUqA/F7k4ejLSGvkpeiNi0nmZd7uTvPpoYyVXqC4Li7f5VQ+gcLAJF1vj+1cixOcdwJSmWTiUQt36FS0HJvpUBVkYQa2dEBNAmz3+6ePox7++Rcvdxa" />
  </connectionStrings>
</configuration>